/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 97.8%;
    padding: 2%;
    background-color: #f21c12;
}