/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 97.8%;
    padding: 2%;
    background-color: #f21c12;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    margin: 0;
    padding: 0;
}

.modalContent {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    height: 60%;
    top: 20%;
    position: relative;
    width: 70%;
    margin: auto;
    padding: 3%;
}

.modalHeader {
    border-bottom: 1px solid #666666;
    height: 10%;
}

.modalBody {
    border-bottom: 1px solid #666666;
    height: 80%;
}

.modalFooter {
    height: 10%;
    padding-top: 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

.inlineBlock {
    display: inline-block;
    vertical-align: middle;
}

.width3Per {
    width: 3%;
}

.width80Per {
    width: 80%;
}

.itemHeader {
    background-color: white;
    border: 1px solid #333333;
}

@keyframes collapse {
    from {height: auto;}
    to {height: 0;}
}

@keyframes expand {
    from {height: 0;}
    to {height: auto;}
}
.collapsed {
    /* animation-name: collapse;
    animation-duration: 0.25s;
    animation-timing-function: ease-in; */
    /* transform: scale(0); */
    transition: height 0.5s ease-in;
    background: yellow;
    overflow: hidden;
    height: 0;
}

.expanded {
    /* animation-name: expand;
    animation-duration: 0.25s;
    animation-timing-function: ease-out; */
    /* transform: scale(1); */
    transition: height 0.5s ease-out;
    background: cyan;
    overflow: hidden;
}

.shown {
    margin-bottom: 0px;
}
