<section>
    <div>
        <h2>Pending</h2>
        <div *ngFor='let item of list; let i = index'>
            <div *ngIf='!item.completed' class="form-group clear">
                <input type='checkbox' class='' [(ngModel)]='item.completed' name='{{item.title}}' />
                <span>{{item.title}}</span>
                <div class='delete right clear' (click)='deleteList(i)'></div>
            </div>
        </div>
    </div>
    <div>
        <h2>Completed</h2>
        <div *ngFor='let item of list; let i = index'>
            <div *ngIf='item.completed' class="form-group clear">
                <input type='checkbox' class='' [(ngModel)]='item.completed' name='{{item.title}}' />
                <span>{{item.title}}</span>
                <div class='delete right clear' (click)='deleteList(i)'></div>
            </div>
        </div>
    </div>
    <div class='container' [hidden]='!openModal'>
        <div class='close right' (click)='closeModal()'>
        </div>
        <modal [list]='list' (openModal)='openModal' (openModalStatusChange)="closeModal($event)">

        </modal>
    </div>
    <div class='add' (click)='showModal()'>
    </div>
</section>