<section>
    <div>
        <h2>Pending</h2>
        <div *ngFor='let item of list; let i = index'>
            <div *ngIf='!item.completed'>
                <input type='checkbox' class='form-control' [(ngModel)]='item.completed' name='{{item.title}}' />
                <span>{{item.title}}</span>
            </div>
        </div>
    </div>
    <div>
        <h2>Completed</h2>
        <div *ngFor='let item of list; let i = index'>
            <div *ngIf='item.completed'>
                <input type='checkbox' class='form-control' [(ngModel)]='item.completed' name='{{item.title}}' />
                <span>{{item.title}}</span>
            </div>
        </div>
    </div>
</section>