section {
    width: 100%;
    padding: 20px 0;
}

.add {
    bottom: 0;
    position: absolute;
    bottom: 15%;
    right: 4%;
    height: 50px;
    width: 50px;
    background: url(../images/add.svg) no-repeat;
    border-radius: 25px;
}

.add:hover{
    box-shadow: 1px 5px 2px;
}

.close {
    z-index: 99999999;
    position: absolute;
    top: 20px;
    right: 35px;
    height: 25px;
    width: 25px;
    background: url(../images/cross.svg) no-repeat;
}

.delete {
    height: 25px;
    width: 25px;
    background: url(../images/trash.svg) no-repeat;
}

.delete:hover{
    box-shadow: 1px 5px 3px;
}